/* Copyright (C) 2002-2021 CERN for the benefit of the ATLAS collaboration */
/*
* Fix for navbar-fixed-top
*/
body {
    padding-top: 70px;
}

/*
* Fix for image
*/

/*
.navbar-brand {
    padding: 10px 10px;
}

.navbar-brand > img {
    padding: 0px;
    background-color: #ffffff;
}
*/

/*
* Put icons in menus on the right
*/
.dropdown-menu a {
    white-space:normal;
}
.dropdown-menu > li {
    position:relative;
}

.dropdown-menu > li > a {
    padding-right: 30px;
}

.dropdown-menu > li > i {
    position:absolute;
    padding: 3px 3px;
    right: 3px;
    top: 3px;
    color: #7b8a8b;
}

.caret {
  margin-left: 4px;
  margin-right: 4px;
}

/*
* Override for footer bar, items without link
*/
li.footer {
    padding-top: 15px;
    padding-bottom: 15px;
}

/*
.navbar-nav > li > a {
    padding-top: 0;
    padding-bottom: 0;
}
*/

.navbar-nav > li.list-group-item {
  padding-top: 4px;
  padding-bottom: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 4px;
  margin-right: 4px;
}

/*
* Fix for bullets in front of list group items
*/
.list-group {
    list-style-type: none;
}

.list-group-item > a > i {
    position:absolute;
    padding: 3px 3px;
    right: 10px;
}

a:focus, a:hover {
    text-decoration: none;
}

/*
* Links in titles of panels
*/
.panel-primary > .panel-heading > a {
    color: #ff8;
}
